body {
    font-family: 'Indie Flower', arial, "Times New Roman";
    background-color: #464D5B;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
}

span {
    font-size: 3em;
}

button {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    color: #464D5B;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px 10px;
    font-size: 1.5em;
}

.text-to-left {
    text-align: left;
}